<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${static_domain}/css/bootstrap.min.css">
    <link rel="stylesheet" href="${static_domain}/style.css">
    <title>Edit-catelogy</title>
    <script src="https://kit.fontawesome.com/7a117cfd83.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav style="margin-bottom: 30px;" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Manage Product</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="${app_domain}/listproducts">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="${app_domain}/listcatelogy">Catelogy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h3 class="text-center">Edit Catelogy</h3>
        <div class="card text-dark mb-3" style="max-width: 35rem;margin: 0 auto;">
            <div class="card-header bg-info"><strong>General</strong></div>
            <div style="margin: auto 20px;">
                <div class="mb-3 mt-2">
                    <label for="formGroupExampleInput" class="form-label"><strong>ID</strong></label>
                    <input type="text" disabled class="form-control" id="id">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"><strong>Catelogy Name</strong></label>
                    <input type="text" class="form-control" id="name">
                </div>
                <button onclick="editCatelogy()" style="margin-bottom: 15px;margin-left: auto;display: block;" type="button" class="btn my-btn btn-success">Submit</button>
                <a href="${app_domain}/listcatelogy" type="button" class="btn btn-info btn-back">Back</a>
            </div>
        </div>
    </div>
    <textarea id="data-edit" style="display: none;">${catelogy}</textarea>
    <script src="${static_domain}/js/bootstrap.min.js"></script>
    <script src="${static_domain}/js/bootstrap.bundle.min.js"></script>
    <script>
        var catelogys = JSON.parse(document.getElementById("data-edit").value);
        document.getElementById("id").value = catelogys.idCate
        document.getElementById("name").value = catelogys.name;
        console.log(catelogys);

        function editCatelogy(id, name) {
            var id = document.getElementById("id").value;
            var name = document.getElementById("name").value;
            if (id != null && name != null) {
                window.location.replace("${app_domain}/api/editcate?idCate=" + catelogys.idCate + "&name=" + name);

            }
        }
    </script>


</body>

</html>